# Ignore database files
*.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore virtual environment
/venv/
myenv/
/myenv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore local settings file
/local_settings.py

# Ignore secret key file
/secret_key.txt

# Ignore migration files
/migrations/